body {
    max-width: 900px;
    margin: auto;
    background-color: white;
    padding: 10px;
}

header {
    background-color: blueviolet;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}

#topnav {
    background-color: wheat;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

#topnav a {
    color: black;
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: inline-block; 
}

#topnav a:hover {
    background-color: white;
    color: wheat;

}

.footer {
    background-color: black;
    position: relative;
    height: 5px;
    margin-top: 5px;
    clear: both;

}